ul{
    list-style-type: none;
}
a:link{
    text-decoration: none;
}
header{
    display: inline;
}
.notresearch{
    display:flex;
    flex-direction: column;
}
.notresearchcenter{
    display:flex;
    justify-content: space-evenly;
    align-items: center;
}
.notresearchend{
    text-align: end;
}
.recherche{
    display: flex;
    background-color: white;
    border-radius: 50px;
    border-color: grey;
    border-style: solid;
    border-right: 10cm;
    justify-content:space-evenly;
    margin-left: 15%;
    width: 80%;
}
.loupe{
    background-color: rgb(183, 17, 17);
    border-radius: 40px;
    display:flex;
    justify-content: end;
}
.icones{
    display: flex;
    justify-content: space-evenly;
    flex-direction:row;
}
.firstline{
    display: flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px;
}
.firstline img{
    border-radius: 10px;
}
.secondline{
    display:flex;
    justify-content: space-evenly;
    flex-direction: row;
    padding: 30px;
}
.secondline img{
    border-radius: 10px;
}
.basdepage{
    text-align: start;
}
.basdepage li{
    display:inline;
    justify-content: start;
}
.basdepageliste{
    list-style-type: none;
}
.currency{
    display: flex;
    justify-content: end;
    font-size: larger;
    font-display: bold;
}